.container{
    display: flex;
    align-items: center;
}
.choisesContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
} 

.choise {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #28262c;
}